# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/

lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# dotenv
.env

# virtualenv
.venv
venv/
ENV/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

.project

/firmware/ise/*
!/firmware/ise/*.xise

/firmware/src/coregen/*
!/firmware/src/coregen/*.xco

tests/results.xml

test_si_udp.vvp
test_si_udp.lxt

*irun.history

# IDE settings
.vscode/

.metadata/
*.lprof

# DVT settings and logs
.dvt
dvt_build.log
*.pydevproject

# Textfiles
.txt

# Hardware check results
timestamp_test.txt

# Datafiles
.h5

# bit files
*.bit

firmware/work/
tests/sim_build/

# Vivado
*.jou
*.tcl
*.xdc
*.xpr
*.wpc
*.wdf
*.lpr
*.xml
*.edif
*.dcp
firmware/vivado/designs/tpx3-daq-mimasA7.runs
firmware/vivado/output